<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
  <div class="form-group">
    <div class="col-xs-12 col-12 col-md-4 form-group">
    <label for="sel1">Select city : </label>
        <select id="citySelect" required [(ngModel)] = "citySelect" class="form-control">
            <option *ngFor="let city of cities$" [value]="city.cityId" [ngValue]="city.cityId">{{city.cityName}}</option>
        </select>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <label for="sel1">Select measurement : </label>
      <select id="unit" required [(ngModel)] = "mesureSelect" (change)="fillChart()" class="form-control">
            <option [value]=1>Celsius</option>
            <option [value]=2>Farenheigt</option>
        </select>
    </div>
  </div>
 </div>
<div class="row">
          <div class="col-xs-12 col-12 col-md-4 form-group">
            <label for="sel1">Select Dates : </label>
            <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue" (onHidden)="searchForcast()">
          </div>
</div>
      <div class="form-group">
      <div class="row">

          <div class="col-xs-12 col-12 col-md-4 form-group">
              <select id = "selLanguage"
              multiple = "multiple"
              size = "10"
              class="form-control">
              <option *ngFor="let record of records$" [ngValue]="record.date">{{record.date + ' Temperature:'+ record.temperature}}</option>
             </select>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <div style="text-align:center" style="position:absolute; top:60px; left:10px; width:600px; height:600px;">
                <canvas id="lineChart" ></canvas>
                <!-- <canvas id="barChart"></canvas>
                <canvas id="pieChart"></canvas> -->
            </div>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
